{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Activities</h1>
</div>
<p>Activities are just fun things we do as a brotherhood to get away from school work and studying for a little while. Besides intramural sports, some activities we have had in the past include canoe trips, attending professional sporting events, and car shows. If there is an event someone thinks everyone would enjoy and we have money in the budget, we will look into it and plan to make it happen. It is always fun spending some time with your Delta Sig brothers with activities.</p>
{% endblock %}