<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delta Sigma Phi Fraternity | Zeta Lambda Chapter | Rose-Hulman Institute of Technology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Delta Sigma Phi Fraternity | Zeta Lambda Chapter | Rose-Hulman Institute of Technology">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            {% block css %}{% endblock %}
        </style>
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="static/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57.png">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="index.html">&#916;&#931;&#934; &#918;&#923;</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li{% if template_name == 'index.html' %} class="active"{% endif %}><a href="index.html">Home</a></li>
                            <li class="dropdown{% if template_name in ['fraternity.html', 'chapter.html', 'preamble.html'] %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">History<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li{% if template_name == 'fraternity.html' %} class="active"{% endif %}><a href="fraternity.html">Delta Sigma Phi Fraternity</a></li>
                                    <li{% if template_name == 'chapter.html' %} class="active"{% endif %}><a href="chapter.html">Zeta Lambda Chapter</a></li>
                                    <li{% if template_name == 'preamble.html' %} class="active"{% endif %}><a href="preamble.html">Preamble</a></li>
                                </ul>
                            </li>
                            <li{% if template_name == 'officers.html' %} class="active"{% endif %}><a href="officers.html">Officers</a></li>
                            <li{% if template_name == 'brothers.html' %} class="active"{% endif %}><a href="brothers.html">Brothers</a></li>
                            <li{% if template_name == 'pledges.html' %} class="active"{% endif %}><a href="pledges.html">Pledges</a></li>
                            <li{% if template_name == 'rush.html' %} class="active"{% endif %}><a href="rush.html">Rush</a></li>
                            <li class="dropdown{% if template_name in ['philanthropy.html', 'activities.html', 'social.html'] %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brotherhood<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li{% if template_name == 'philanthropy.html' %} class="active"{% endif %}><a href="philanthropy.html">Philanthropy</a></li>
                                    <li{% if template_name == 'activities.html' %} class="active"{% endif %}><a href="activities.html">Activities</a></li>
                                    <li{% if template_name == 'social.html' %} class="active"{% endif %}><a href="social.html">Social</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hares<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if hares %}
                                        {% for year1, year2, terms in hares %}
                                            {% if terms %}
                                                <li class="nav-header">{{ year1 }}-{{ year2 }}</li>
                                                {% for term in terms %}
                                                    <li><a href="static/pdf/hare-{{ term.lower() }}-{{ year1 }}-{{ year2 }}.pdf">{{ term }}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li class="nav-header">There are no Hares, yet.</li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.deltasig.org/">&#916;&#931;&#934;</a></li>
                                    <li><a href="http://www.rose-hulman.edu/">Rose-Hulman</a></li>
                                    <li><a href="http://www.rose-hulman.edu/student-life/greek-life/intrafraternity-council.aspx">Interfraternity Council</a></li>
                                    <li><a href="http://www.dspzlalumni.org/">Alumni</a></li>
                                    <li><a href="http://www.dspzlalumni.org/forums/">Forums</a></li>
                                    <li><a href="{{ president_href }}">Contact</a></li>
                                    <li><a href="{{ webmaster_href }}">Webmaster</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
            <hr>
            <footer>
                <p>&copy; {{ year }} &#916;&#931;&#934; &#918;&#923; &bull; 429 S. 6<sup>th</sup> St. &bull; Terre Haute, IN 47807 &bull; (812) 234-0969</p>
            </footer>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script>
            $(function() {
                {% block jquery %}{% endblock %}
            });
        </script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{# UA-17428605-1 #}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>