{% extends "base.html" %}

{% block css %}
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Officers</h1>
</div>
<ul class="nav nav-tabs">
    {% for officer_type in officers %}
        <li{% if loop.first %} class="active"{% endif %}><a href="#type-{{ officer_type.type|lower }}" data-toggle="tab">{{ officer_type.type }}</a></li>
    {% endfor %}
    <li{% if not officers %} class="active"{% endif %}><a href="#type-advisors" data-toggle="tab">Advisors</a></li>
</ul>
<div class="tab-content">
    {% for officer_type in officers %}
        {% if officer_type.officers %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="type-{{ officer_type.type|lower }}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Office</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for officer in officer_type.officers %}
                            <tr>
                                <td><img src="static/img/portraits/{{ officer.username }}.jpg" alt="{{ officer.name }}"></td>
                                <td>{{ officer.name }}</td>
                                <td>{{ officer.office }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>There are no {{ officer_type.type|lower }} officers, yet.</p>
        {% endif %}
    {% endfor %}
    <div class="tab-pane{% if not officers %} active{% endif %}" id="type-advisors">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="static/img/portraits/grigg.jpg" alt="Grigg, Cliff"></td>
                    <td>Grigg, Cliff</td>
                </tr>
                <tr>
                    <td><img src="static/img/portraits/webster.jpg" alt="Webster, Ben"></td>
                    <td>Webster, Ben</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}