{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Philanthropy</h1>
</div>
<p>The Zeta Lambda chapter of Delta Sigma Phi at the Rose-Hulman Institute of Technology is constantly seeking to promote philanthropic efforts in order to serve the community. The most prominent relationship that Delta Sigma Phi shares is with the March of Dimes. While community service is a staple activity in the fraternity, the largest event that the fraternity hosts and supports is the annual 24-hour Basketball Marathon. The marathon raises funds each winter for the March of Dimes. Delta Sigma Phi is consistently acknowledged by the March of Dimes as one of the highest donating groups.</p>
{% endblock %}