{% extends "base.html" %}

{% block extrahead %}
<link href="static/css/fullcalendar.css" rel="stylesheet">
<link href="static/css/fullcalendar.print.css" rel="stylesheet" media="print">
{% endblock %}

{% block css %}
#calendar {
    margin-bottom: 9px;
}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Rush</h1>
</div>
<div class="row">
    <div class="span6">
        <h2>A letter from the men of Delta Sigma Phi</h2>
        <p>The men of Delta Sigma Phi would like to welcome you to Rose-Hulman and encourage you to consider the benefits associated with joining a fraternity seriously. The next six weeks will be very enlightening as to what Greek life is all about. We understand that Greek life is not for every man, but we request that you keep an open mind to fraternities in general. We do hope that you experience the fall rush to learn about the life-long commitments, life-long friendships, and life-changing experiences that Greek life will provide.</p>
        <p>At Delta Sigma Phi, we are committed to building better men through leadership, campus involvement, and our dedicated principles of chivalry and loyalty to man. We are also a very diverse fraternity, which can be traced historically to the fraternity's founding at the City College of New york in 1899, where Delta Sig was established uniquely on the principle of religious tolerance between Christianity and Judaism. We also follow a strict no-hazing policy for all members and pledges.</p>
        <p>The Zeta Lambda Chapter of the Delta Sigma Phi fraternity can be found at 429 S. 6th Street in downtown Terre Haute. Although we may be off-campus, we find that living away from Rose-Hulman is a fantastic way to get a break from the hard and stressful work that our education sometimes provides.</p>
        <p>On campus, you will find Delta Sig's involved with many clubs, sports, and residence hall staff. We are currently very active with the Paintball Club, Outdoor Venture Club, The Monkey, and the Student Alumni Association, just to name a few. We also have brothers on the swimming and cross-country teams. Being such a diverse group of men at Delta Sig makes it easy for anyone to find a common interest with our brothers.</p>
        <p>We also highly value service to the community here at Delta Sigma Phi. We annually are involved with fraternity service projects directly benefiting the American Red Cross and the March of Dimes. We encourage all brothers to participate in other community service events, and are always involved with any Rose-Hulman sponsored service events.</p>
        <p>Of course, at Rose-Hulman, we are all here to get a great education, and the men of Delta Sigma Phi fully commit to making academics as good as possible. Brothers of Delta Sig are always working together on their coursework, helping each other with homework and other schoolwork. We find that being directly connected with older brothers who have taken the classes you need to take to be a great peer-tutoring network. Our study habits support that Delta Sigma Phi holds one of the best academic averages on campus.</p>
        <p>And at Delta Sigma Phi, we do like having fun, too. We hold regular events with all Rose-Hulman sororities as well as ISU sororities. We also schedule exclusive brother-only events on many weekends, such as cookouts, road trips, and other fun things to do outside of Terre Haute. Being a Delta Sig will provide some of the best experiences you can ask for in college, and will result in lifelong relationships that would not otherwise occur as a regular Rose-Hulman student.</p>
        <p>The bond of brotherhood in Delta Sig does not end with graduation, however. Our alumni regularly return to our house and give back to Delta Sig. The time invested in brotherhood at Delta Sig will have lifelong rewards, and our alumni are proof of what is to come from joining Delta Sig.</p>
        <p>We all are very excited to meet each and every one of you. We hope that you truly enjoy your experience in rush in the next six weeks, and we appreciate your interest in exploring what being part of Delta Sigma Phi is all about. </p>
        <p>Sincerely,</p>
        <p>The Men of Delta Sigma Phi, Zeta Lambda Chapter</p>
    </div>
    <div class="span6">
        <div id="calendar"></div>
        <p><a href="{{ rush_director_href }}" class="btn btn-primary btn-large"><i class="icon-envelope icon-white"></i> Contact Rush Director</a></p>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<script src="static/js/fullcalendar.min.js"></script>
{% endblock %}

{% block jquery %}
$("#calendar").fullCalendar({
    year: 2011,
    month: 9 - 1,
    events: [
        {
            title: "Dorm Storming",
            allDay: false,
            start: new Date(2011, 9 - 1, 12, 12 + 7),
        },
        {
            title: "Informals",
            start: new Date(2011, 9 - 1, 13)
        },
        {
            title: "Homework Help on Campus",
            start: new Date(2011, 9 - 1, 14)
        },
        {
            title: "Make-up Informals",
            start: new Date(2011, 9 - 1, 15)
        },
        {
            title: "Informals",
            start: new Date(2011, 9 - 1, 16)
        },
        {
            title: "House Day",
            start: new Date(2011, 9 - 1, 17)
        },
        {
            title: "Monday Night Football",
            start: new Date(2011, 9 - 1, 19)
        },
        {
            title: "Campus Golf",
            start: new Date(2011, 9 - 1, 20)
        },
        {
            title: "Homework Help on Campus",
            start: new Date(2011, 9 - 1, 21)
        },
        {
            title: "Homecoming (No Contact)",
            start: new Date(2011, 9 - 1, 22),
            end: new Date(2011, 9 - 1, 25)
        },
        {
            title: "Monday Night Football",
            start: new Date(2011, 9 - 1, 26)
        },
        {
            title: "First Wok Night",
            start: new Date(2011, 9 - 1, 27)
        },
        {
            title: "Homework Help on Campus",
            start: new Date(2011, 9 - 1, 28)
        },
        {
            title: "First Formals",
            start: new Date(2011, 9 - 1, 30)
        },
        {
            title: "Soberfest",
            start: new Date(2011, 10 - 1, 1)
        },
        {
            title: "First Formals",
            start: new Date(2011, 10 - 1, 2)
        },
        {
            title: "Monday Night Football",
            start: new Date(2011, 10 - 1, 3)
        },
        {
            title: "Homework Help on Campus",
            start: new Date(2011, 10 - 1, 5)
        },
        {
            title: "Crackers",
            start: new Date(2011, 10 - 1, 6)
        },
        {
            title: "Stud Night",
            start: new Date(2011, 10 - 1, 8)
        },
        {
            title: "Monday Night Football",
            start: new Date(2011, 10 - 1, 10)
        },
        {
            title: "Fall Break (No Contact)",
            start: new Date(2011, 10 - 1, 12),
            end: new Date(2011, 10 - 1, 16)
        },
        {
            title: "Monday Night Football",
            start: new Date(2011, 10 - 1, 17)
        },
        {
            title: "Poker Night",
            start: new Date(2011, 10 - 1, 18)
        },
        {
            title: "Homework Help on Campus",
            start: new Date(2011, 10 - 1, 19)
        },
        {
            title: "Second Formals",
            start: new Date(2011, 10 - 1, 21)
        },
        {
            title: "Mystery Road Trip",
            start: new Date(2011, 10 - 1, 22)
        },
        {
            title: "Second Formals",
            start: new Date(2011, 10 - 1, 23)
        },
        {
            title: "No Contact",
            start: new Date(2011, 10 - 1, 24)
        },
        {
            title: "Bid Tuesday",
            start: new Date(2011, 10 - 1, 25)
        }
    ]
});
{% endblock %}